.navigation{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: rgb(12, 12, 12);
    padding: .5vh 0;
    flex-wrap: wrap;
    z-index: 2;
    box-shadow: 0 1px 2px 0 rgb(173, 173, 173);
}

.navigation__container{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
}

.navigation__logo{
    height: 100%;
    margin-left: 6%;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bold;
    .navigation__logo-img{
        height: 2.6rem;
        padding-right: 10px;
    }

    span{
       display: block;
       width: 1px;
       height: 50%;
       background-color: #fff;
        margin: 0 15px;
    }
}

.navigation__changeLanguage{
    cursor: pointer;
    height: 2.7rem;
}

.navigation__hamburger{

    @mixin hamburgerLine{
        width: 100%;
        height: 2px;
        background-color: $font-color;
        position: absolute;
    }

    margin-left: auto;
    margin-right: 10%;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;

    .hamburger__box{
        width: 28px;
        height: 40px;
        display: inline-block;
        position: relative;
    }

    .hamburger__inner{
        @include hamburgerLine;
        top: 50%;
        transform: translateY(-50%);
        transition: .3s;

        &::before,&::after{
            @include hamburgerLine;
            content: '';
            transition: .3s .1s;
            left: 0;
        }

        &::before{
            top: -8px;
        }

        &::after{
            top: 8px;
        }
    }

    &--active{
        .hamburger__inner{
            background-color: transparent;

            &::before{
                transform: translateY(8px) rotate(45deg);
            }

            &::after{
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }
}

.naviagtion__list{
    position: fixed;
    bottom: 0;
    left: -100%;
    z-index: 6; 
    width: 80%;
    height: calc(91vh - 1px);
    background-color: #0c0c0c;
    transition: .8s;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    list-style: none;
    justify-content: flex-start;
    align-items: center;

        a{
            display: block;
            cursor: pointer;
            padding: 10px;
            text-transform: uppercase;
            font-weight: bold;
            margin: 20px 0;
            width: 70%;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 0 2px 0 $font-color;
            text-decoration: none;
            color: $font-color;
            font-size: 4vw;
            letter-spacing: 1px;
        }


    &--active{
       left: 0;

    }

}

@media screen and (min-width: $mobileL){
    .navigation__logo{
        font-size: 2.2rem;

        .navigation__logo-img{
            height: 3rem;
            padding-right: 10px;
        }
    }

    .navigation__changeLanguage{
        height: 3.4rem;
    }

    .navigation__hamburger{
        .hamburger__box{
            width: 36px;

            .hamburger__inner{
                height: 3px;

                &::before{
                    height: 3px;
                    top: -10px;
                }
        
                &::after{
                    height: 3px;
                    top: 10px;
                }
            }

           
        }

        &--active{
            .hamburger__inner{
    
                &::before{
                    transform: translateY(10px) rotate(45deg);
                }
    
                &::after{
                    transform: translateY(-10px) rotate(-45deg);
                }
            }
        }
    }

    .naviagtion__list{
        width: 70%;
    }
}

@media screen and (min-width: $desktopS){

    .navigation__hamburger{
        display: none;
    }

    .navigation{
        height: 85px;
        flex-wrap: nowrap;
    }

    .navigation__container{
        flex-basis: 340px;

        .navigation__logo{
            font-size: 2.2rem;
            margin-left: 4vw;

            .navigation__logo-img{
                height: 3.2rem;
            }

            span{
                width: 1.1px;
                height: 45%;
            }
        }
    }

    .naviagtion__list{
        position: static;
        flex-basis: fill;
        max-width: 600px;
        margin-left: auto;
        margin-right: 40px;
        height: 100%;
        transition: 0;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 0;
        transform: translate(0);
    
            a{
                display: block;
                cursor: pointer;
                padding: 0;
                text-transform: none;
                font-weight: normal;
                color: darken($font-color, 20%);
                width: auto;
                text-align: center;
                border-radius: none;
                box-shadow: none;
                font-size: 1.8rem;
                letter-spacing: 1px;
                transition: .5s;

                &:hover{
                    color: $font-color; 
                }
            }     
    }

}

@media screen and (min-width: $desktopL){
    .navigationBox{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 85px;
        background-color: #0c0c0c;
        box-shadow: 0 1px 2px 0 rgb(173, 173, 173);
        z-index: 6;
    }

    .navigation{
        max-width: 1280px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: none;
    }

    .navigation__container{
        .navigation__logo{
            font-size: 2.2rem;
            
            .navigation__logo-img{
                height: 3.5rem;
            }

            span{
                width: 1.1px;
            }
        }
    }
}