$font-color: rgb(190, 190, 190);
$base-font: Arial;
$base-font-size: 12px;
$contrast-color: #26448a;
$green: #009D88;
$red: #d9475a;

$mobileL: 600px;
$mobileXL: 800px;

$desktopS: 1000px;
$desktopM: 1100px;
$desktopL: 1220px;
$desktopXL: 1365px;