@import 'variables';
@import 'navigation';
@import 'home';
@import 'prices';
@import 'demo';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  font-size: $base-font-size;  
  
}

body{
    max-width: 100vw;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    color: $font-color;
    font-family: $base-font;   
}

.blur{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 1s;
  background-color: transparent;
  filter: blur(2px);
}